

<h1>My lists</h1>

<div class="card-category">
    <% @lists.each do |list| %>
      <li class="card-body list-unstyled">
        <%= link_to list.name, list_path(list) %>
        <br>
        <%= link_to "delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}, class: 'btn btn-outline-secondary' %>
    <% end %>
  </ul>
</div>
<br>
<%= link_to "Create a movie list", new_list_path, class: 'btn btn-outline-secondary' %>
